<div class="container">
    <h3 class="text-center">Hoja de Vida</h3>
    <div class="col-md-8">
        <ul>
            <li>Código: <strong>{{persona.id}}</strong></li>
            <li>Rut: <strong>{{persona.rut}}</strong></li>
            <li>Nombres: <strong>{{persona.nombres}}</strong></li>
            <li>Apellidos: <strong>{{persona.apellidos}}</strong></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="card">
        <h3 class="text-center my-1">Contratos disponibles</h3>
        <div class="card-body d-flex justify-content-center">
            <button class="btn btn-success btn-sm" (click)="planta()">Planta</button>
            &nbsp;
            <button class="btn btn-success btn-sm">C.P.R</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Profesor</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Honorarios</button>
            &nbsp;
            <button class="btn btn-success btn-sm">DIBICAR</button>
            &nbsp;
            <button class="btn btn-success btn-sm">DFL1. Salud</button>
        </div>
    </div>
</div>