<div class="container">
    <div class="card">
        <h3 class="text-center my-1">Anotaciones Disponibles</h3>
        <div class="card-body justify-content-center">
            <button class="btn btn-success btn-sm" (click)="ascensos()">Asc./Dest</button>
            &nbsp;
            <button class="btn btn-success btn-sm">C.Servicio</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Curricular</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Beneficios</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Sanciones</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Calificaciones</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Licencias Médicas</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Familia</button>
            &nbsp;
            <button class="btn btn-success btn-sm">L.Conducir</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Datos Personales</button>
            &nbsp;
            <button class="btn btn-success btn-sm">Feriados Permisos</button>
        </div>
    </div>
</div>